In [1]:
import pandas as pd

In [3]:
frailty_raw=pd.read_csv('Frailty_raw_data.csv')

In [4]:
frailty_raw

   Height (Inches)  Weight (Pounds)   Age  Grip strength Frailty
0             65.8               112   30             30       N
1             71.5               136   19             31       N
2             69.4               153   45             29       N
3             68.2               142   22             28       Y
4             67.8               144   29             24       Y
5             68.7               123   50             26       N
6             69.8               141   51             22       Y
7             70.1               136   23             20       Y
8             67.9               112   17             19       N
9             66.8               120   39             31       N

In [5]:
frailty_raw['Frailty'] = frailty_raw['Frailty'].map({'N': 0, 'Y': 1})

In [6]:
frailty_raw

   Height (Inches)  Weight (Pounds)   Age  Grip strength  Frailty
0             65.8               112   30             30        0
1             71.5               136   19             31        0
2             69.4               153   45             29        0
3             68.2               142   22             28        1
4             67.8               144   29             24        1
5             68.7               123   50             26        0
6             69.8               141   51             22        1
7             70.1               136   23             20        1
8             67.9               112   17             19        0
9             66.8               120   39             31        0

In [8]:
frailty_raw = frailty_raw.sort_values(by='Grip strength')

In [9]:
frailty_raw

   Height (Inches)  Weight (Pounds)   Age  Grip strength  Frailty
8             67.9               112   17             19        0
7             70.1               136   23             20        1
6             69.8               141   51             22        1
4             67.8               144   29             24        1
5             68.7               123   50             26        0
3             68.2               142   22             28        1
2             69.4               153   45             29        0
0             65.8               112   30             30        0
1             71.5               136   19             31        0
9             66.8               120   39             31        0

In [13]:
clean_frailty=frailty_raw.dropna()
clean_frailty

   Height (Inches)  Weight (Pounds)   Age  Grip strength  Frailty
8             67.9               112   17             19        0
7             70.1               136   23             20        1
6             69.8               141   51             22        1
4             67.8               144   29             24        1
5             68.7               123   50             26        0
3             68.2               142   22             28        1
2             69.4               153   45             29        0
0             65.8               112   30             30        0
1             71.5               136   19             31        0
9             66.8               120   39             31        0

In [11]:
clean_frailty.to_csv('clean_frailty.csv')